footer {
    background-color: var(--black);
    padding: 4rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left__link {
    font-size: var(--fs-6);
    color: var(--white);
}

.right__link {
    font-size: var(--fs-6);
    color: var(--white);
}